#window-container {
    display: grid;
    margin: 0;
    width: 100%;
    grid-template-columns: 2% 13% 75% 10%;
    grid-template-areas: 
        "header header header header"
        ". leftrow body rightrow"
        ". leftrow body rightrow"
        ". leftrow body rightrow"
        ". leftrow body rightrow"
        "footer footer footer footer"
}

#header {
    grid-area: header;
    background-color: red;
}

#body {
    position: relative;
    grid-area: body;
    min-height: 710px;
}

#footer {
    grid-area: footer;
    background-color: blue;
}

#left-row {
    grid-area: leftrow;
    background-color: yellow;

}

#right-row {
    grid-area: rightrow;
    background-color: yellow;
}
/* */
#menu {
    position: fixed;
    z-index: 10000;
    width: 150px;
    background-color: #1b1a1a;
    transform: scale(0);
    transform-origin: top left;
}

#task-menu {
    position: fixed;
    z-index: 10000;
    width: 150px;
    background-color: #1b1a1a;
    transform: scale(0);
    transform-origin: top left;
}

#menu.active {
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

#task-menu.active {
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

#menu .right-click-item {
    padding: 8px 10px;
    font-size: 15px;
    color: #eee;
}

#task-menu .right-click {
    padding: 8px 10px;
    font-size: 15px;
    color: #eee;
}

#menu .right-click-item:hover {
    background-color: #555;
    cursor: pointer;

}

#task-menu .right-click:hover {
    background-color: #555;
    cursor: pointer;
}

#menu .right-click-item i {
    display: inline-block;
    margin-right: 5px;
}

#task-menu .right-click i {
    display: inline-block;
    margin-right: 5px;
}

#task-menu hr {
    margin: 2px 0px;
    border-color: #555;
}

#menu hr {
    margin: 2px 0px;
    border-color: #555;
}

#note-delete {
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 15px;
}

#task-delete {
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 15px;
}

.note-container {
    display: flex;
    cursor: pointer;
}

#strike-through {
    text-decoration-line: line-through;
}

#go-back-icon {
    width: 50px;
    height: 50px;
}

#go-back {
    visibility: hidden;
    position: fixed;
    right: 10%;
    cursor: pointer;
}

#del-task-icon {
    width: 50px;
    height: 50px;
}

#del-task {
    visibility: hidden;
    position: fixed;
    right: 10%;
    bottom: 3%;
    cursor: pointer;
}

#edit-task-icon {
    width: 50px;
    height: 50px;
}

#edit-task {
    visibility: hidden;
    position: fixed;
    right: 10%;
    bottom: 50%;
    cursor: pointer;
}